[submodule "core.async-examples"]
	path = core.async-examples
	url = https://github.com/dzacarias/core.async-examples
[submodule "chat-demo"]
	path = chat-demo
	url = https://github.com/dzacarias/chat-demo
[submodule "async-examples"]
	path = async-examples
	url = https://github.com/halgari/clojure-conj-2013-core.async-examples.git
